@using CarDealer.Models.ViewModels
@model IEnumerable<AllPartVm>
@{
    ViewBag.Title = "All";
}

<h2>All</h2>

@Html.ActionLink("Add Part", "Add", null, new { @class = "btn btn-primary" })


<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Supplier</th>
        <th>Modify</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td width="10%">@item.Price</td>
            <td width="10%">@item.Quantity</td>
            <td>@item.SupplierName</td>
            <td>
                @Html.ActionLink("Edit", "Edit", null, new { id = item.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "Delete", null, new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>